.container {
  max-width: 900px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  background: #2f6fcd;
  color: white;
  padding: 25px 0;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.subtitle {
  text-align: center;
  background: #2f6fcd;
  color: #dbe6ff;
  padding-bottom: 20px;
  margin: 0 0 30px 0;
  border-radius: 0 0 10px 10px;
}