<div class="card">
  <h2>Registrar nuevo curso</h2>

  <input type="text" [(ngModel)]="name" placeholder="Nombre del curso">

  <input type="text" [(ngModel)]="duration" placeholder="Duración (horas)">

  <select [(ngModel)]="level">
    <option value="Básico">Básico</option>
    <option value="Intermedio">Intermedio</option>
    <option value="Avanzado">Avanzado</option>
  </select>

  <select [(ngModel)]="active">
    <option [ngValue]="true">Activo</option>
    <option [ngValue]="false">Inactivo</option>
  </select>

  <button (click)="addCourse()">Agregar curso</button>
</div>